@media screen and (max-width: 380px), (max-width: 480px),(max-width: 768px),(max-width: 900px),(max-width: 1259px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    ul {
        padding-left: 0;
    }

    ul li {
        padding: 10px 20px;
    }

    .text {
        width: auto;
        margin: 80px 20px;
    }

    .input {
        padding: 15px;
    }

    #about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sub-story {
        margin: 20px;
    }

    .bg1, .bg2 {
        margin: 20px auto;
        width: 100px;
        height: 200px;
        border-radius: 50%;
    }

    .opening-hours {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
    }

    .design {
        padding: 20px;
        text-align: center;
        flex-direction: column;
        height: 180vh;
       
    }
   

    .contact1 {
        flex-direction: column;
        align-items: center;
        
    }

  
    

    .images {
        padding: 0 10px;
        flex-direction: column;
        height: 80vh; 
    }

    .image1, .image2, .image3 {
        margin: 10px auto; 
        max-width: 100%; 
    }
    .address, .store, .info {
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }
}

